
.align-left {
    float: left;
}
.delete-style{
    padding-left: 5px;
    color: red;
    cursor: pointer;
}
.edit-style{
    color: green;
    cursor: pointer;
}
#toast-container > div {
    opacity: 1;
  }
.pagination-style {
    padding-top: 10px;
}
.headinng-style {
    padding-left: 5px;
}
.align-right {
    float: right;
    margin-right: 15px;
}
.card-heading-style{
    padding-left: 15px;
    padding-top: 5px;
}
.center-align-cell {
    text-align: center;
}
.center-align-icon {
    vertical-align: middle;
}
.mouse-indicator {
    cursor: pointer !important;
}
.table-responsive {
    overflow-x: auto;
    max-width: 100%;
}
  